@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: #171718;
}

.booking-modal {
  &__buttons {
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
    margin-top: 2em;
  }
}

.modal-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  row-gap: 2em;
}
