@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: #171718;
}

.booking-modal {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #171718;
  width: 40%;
  row-gap: 0.5em;
  &__buttons {
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
    margin-top: 2em;
  }
}
